.main {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  z-index: -1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #0f172a;
  overflow: hidden;
  opacity: 0.25;
}

.background span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 45;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(0) {
  color: #3b82f6;
  top: 27%;
  left: 32%;
  animation-duration: 50s;
  animation-delay: -30s;
  transform-origin: 14vw 23vh;
  box-shadow: -40vmin 0 5.219857698713755vmin currentColor;
}
.background span:nth-child(1) {
  color: #2563eb;
  top: 83%;
  left: 94%;
  animation-duration: 30s;
  animation-delay: -8s;
  transform-origin: -9vw 9vh;
  box-shadow: -40vmin 0 5.3625366388099085vmin currentColor;
}
.background span:nth-child(2) {
  color: #3b82f6;
  top: 50%;
  left: 54%;
  animation-duration: 52s;
  animation-delay: -23s;
  transform-origin: 10vw -2vh;
  box-shadow: 40vmin 0 5.233146187348918vmin currentColor;
}
.background span:nth-child(3) {
  color: #3b82f6;
  top: 16%;
  left: 82%;
  animation-duration: 14s;
  animation-delay: -17s;
  transform-origin: -10vw 23vh;
  box-shadow: 40vmin 0 5.837201646207523vmin currentColor;
}
.background span:nth-child(4) {
  color: grey;
  top: 7%;
  left: 21%;
  animation-duration: 16s;
  animation-delay: -23s;
  transform-origin: -21vw -23vh;
  box-shadow: 40vmin 0 5.31745104197356vmin currentColor;
}
.background span:nth-child(5) {
  color: blue;
  top: 73%;
  left: 45%;
  animation-duration: 14s;
  animation-delay: -35s;
  transform-origin: 11vw -11vh;
  box-shadow: 40vmin 0 5.769238258004143vmin currentColor;
}
.background span:nth-child(6) {
  color: #2563eb;
  top: 9%;
  left: 42%;
  animation-duration: 42s;
  animation-delay: -28s;
  transform-origin: 14vw -2vh;
  box-shadow: 40vmin 0 5.4792232305542985vmin currentColor;
}
.background span:nth-child(7) {
  color: #583c87;
  top: 42%;
  left: 10%;
  animation-duration: 47s;
  animation-delay: -28s;
  transform-origin: -22vw 16vh;
  box-shadow: 40vmin 0 5.361080349264482vmin currentColor;
}
.background span:nth-child(8) {
  color: blueviolet;
  top: 58%;
  left: 69%;
  animation-duration: 41s;
  animation-delay: -7s;
  transform-origin: -23vw 22vh;
  box-shadow: 40vmin 0 5.1400513406424935vmin currentColor;
}
.background span:nth-child(9) {
  color: #583c87;
  top: 43%;
  left: 84%;
  animation-duration: 28s;
  animation-delay: -42s;
  transform-origin: 13vw 11vh;
  box-shadow: 40vmin 0 5.799199548115965vmin currentColor;
}
.background span:nth-child(10) {
  color: #583c87;
  top: 40%;
  left: 97%;
  animation-duration: 49s;
  animation-delay: -26s;
  transform-origin: 17vw 9vh;
  box-shadow: 40vmin 0 5.277375009522456vmin currentColor;
}
.background span:nth-child(11) {
  color: blue;
  top: 8%;
  left: 58%;
  animation-duration: 8s;
  animation-delay: -40s;
  transform-origin: -24vw 20vh;
  box-shadow: -40vmin 0 5.879031779459377vmin currentColor;
}
.background span:nth-child(12) {
  color: #583c87;
  top: 49%;
  left: 57%;
  animation-duration: 35s;
  animation-delay: -20s;
  transform-origin: 17vw 24vh;
  box-shadow: 40vmin 0 5.118662739169766vmin currentColor;
}
.background span:nth-child(13) {
  color: blueviolet;
  top: 17%;
  left: 2%;
  animation-duration: 47s;
  animation-delay: -49s;
  transform-origin: 1vw 21vh;
  box-shadow: 40vmin 0 5.094233920830381vmin currentColor;
}
.background span:nth-child(14) {
  color: #583c87;
  top: 98%;
  left: 27%;
  animation-duration: 20s;
  animation-delay: -42s;
  transform-origin: 8vw 15vh;
  box-shadow: -40vmin 0 5.465674176199512vmin currentColor;
}
.background span:nth-child(15) {
  color: purple;
  top: 24%;
  left: 42%;
  animation-duration: 32s;
  animation-delay: -32s;
  transform-origin: -10vw 2vh;
  box-shadow: 40vmin 0 5.025000784961641vmin currentColor;
}
.background span:nth-child(16) {
  color: #2563eb;
  top: 91%;
  left: 52%;
  animation-duration: 38s;
  animation-delay: -37s;
  transform-origin: -9vw 13vh;
  box-shadow: 40vmin 0 5.904328395746964vmin currentColor;
}
.background span:nth-child(17) {
  color: #583c87;
  top: 17%;
  left: 6%;
  animation-duration: 54s;
  animation-delay: -19s;
  transform-origin: 8vw -4vh;
  box-shadow: -40vmin 0 5.914071458879788vmin currentColor;
}
.background span:nth-child(18) {
  color: purple;
  top: 78%;
  left: 58%;
  animation-duration: 12s;
  animation-delay: -25s;
  transform-origin: -18vw 5vh;
  box-shadow: -40vmin 0 5.898162411216765vmin currentColor;
}
.background span:nth-child(19) {
  color: blue;
  top: 31%;
  left: 38%;
  animation-duration: 18s;
  animation-delay: -35s;
  transform-origin: 6vw -13vh;
  box-shadow: 40vmin 0 5.630766869586887vmin currentColor;
}

.center {
  position: relative;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  text-align: center;
}

.home-title {
  font-size: 2.5rem;
  color: white;
  font-weight: bold;
  line-height: 1.6;
}

.description {
  margin-top: 1.5rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: whitesmoke;
}

.button {
  margin-top: 3rem;
  padding: 0.75rem 1.5rem;
  display: inline-flex;
  align-items: center;
  background-color: #2563eb;
  color: #ffffff;
  text-align: center;
  gap: 1rem;
  border-radius: 9999px;
  outline: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  appearance: button;
  text-transform: none;
  background-image: none;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  border: none;
}

.button:hover {
  background-color: #3b82f6;
  gap: 2rem;
}

.home-wrapper {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .home-wrapper {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    align-items: center;
  }
}
