.posts-main {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: 1024px;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  flex-direction: column;
  display: flex;
  min-height: 65vh;
}

@media screen and (max-width: 600px) {
  .posts-main {
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    padding-bottom: 0;
    max-width: 100%;
    width: 260px;
    min-height: 60vh;
  }
}

.posts-title {
  font-size: 1.5rem;
  color: white;
}

.posts-loading {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.posts-pagination {
  margin-top: auto;
  align-self: center;
  justify-content: center !important;
}
